<h1>Thank You For Your Order!</h1>
<h2>Order Summary: </h2>

<% @order.items.each do |item| %>
<section id="review-item-#{item.id}">
  <%= link_to item.name, "/items/#{item.id}" %>
  <p>Merchant: <%= item.merchant.name %></p>
  <p>Price: $<%= item.price %></p>
  <p>Quantity: <%= cart.count_of(item.id) %></p>
  <p>Subtotal: $<%= cart.sub_total(item)%></p>
</section>
<% end %>
<section id="footer-summary">
  <h3>Grand Total: $<%= cart.grand_total %></h3>
  <h3>Order Place On: <%= @order.created_at.strftime("%Y-%m-%d") %></h3>
</section>
