<h1 align= "center">Create Merchant</h1>
<center>
  <%= form_tag '/merchants', method: :post do |f| %>
    <%= text_field_tag :name, nil, placeholder: "Name" %>

    <%= text_field_tag :address, nil, placeholder: "Address" %>

    <%= text_field_tag :city, nil, placeholder: "City" %>

    <%= text_field_tag :state, nil, placeholder: "State" %>

    <%= text_field_tag :zip, nil, placeholder: "Zip" %>

    <%= submit_tag 'Create Merchant' %>
  <% end %>
</center>
