<h1><%= @merchant.name %></h1>
<p class="address"><%= @merchant.address %></p>
<p class="address"><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>

<ul><%= link_to "All #{@merchant.name} Items", "/merchants/#{@merchant.id}/items" %></ul>
<ul><%= link_to "Update Merchant", "/merchants/#{@merchant.id}/edit" %></ul>
<% if @merchant.has_order == false %>
  <ul><%= link_to "Delete Merchant", "/merchants/#{@merchant.id}", method: :delete %>
<% end %>
</ul>

  <section id="merchant-stats">
    <ul>
      <li><h2> <%= @merchant.name %> Seller Stats:</h2></li>
      <li>Total Items: <%= @merchant.items_count %></li>
      <% if @merchant.has_order %>
        <li>Average Item Price: $<%= @merchant.average_item_price.round(1) %></li>
        <ul><p>Orders shipped to:</p>
          <% @merchant.distinct_cities.each do |city| %>
          <li><%= city %></li>
        </ul>
      <% end %>
    </ul>
  </section>
<% end %>
