<h1>Create New Item For <%=link_to @merchant.name, "/merchants/#{@merchant.id}" %></h1>

<center>
  <%= form_tag "/merchants/#{@merchant.id}/items", method: :post, class:"form" do %>
    <%= text_field_tag :name, "Name"%>

    <%= text_field_tag :description, nil, placeholder: "Description" %>

    <%= text_field_tag :price, nil, placeholder: "Price" %>

    <%= text_field_tag :image, nil, placeholder: "Image" %>

    <%= text_field_tag :inventory, nil, placeholder: "Inventory" %>

    <%= submit_tag 'Create Item', class:'submit-form' %>
  <% end %>
</center>
