<h1><%= @item.name %></h1>
<p align="center">Sold by: <%=link_to @item.merchant.name, "/merchants/#{@item.merchant.id}" %> </p>
<center>
  <section class = "item-show-grid">
    <section class = "item-show-item">
      <img src= <%= @item.image %>>
    </section>
    <section style="text-align:left" class = "item-show-item">
      <p><%= @item.description %></p>
      <p>Price: $<%= @item.price %> </p>
      <p>Inventory: <%= @item.inventory %> </p>
      <% if @item.active? %>
        <p style= "color:green">Active</p>
        <%= button_to 'Add to Cart', "/cart/#{@item.id}", method: :patch %>
      <% else %>
        <p style= "color:red">Inactive</p>
      <% end %>
      <p><%= link_to "Edit Item", "/items/#{@item.id}/edit" %></p>
      <p><%= link_to "Delete Item", "/items/#{@item.id}", method: :delete %></p>
    </section>
  </section>
</center>
<footer id = "review-grid">
  <section id="average-reviews">
    <h2>Average Review Rating: <%= Review.average_rating %></h2>
    <%= link_to 'Add New Review', "/items/#{@item.id}/reviews/new" %>
  </section>
  <section id= "top-reviews">
    <h2>Top Reviews: </h2>
    <% Review.top_rated.each do |review| %>
      <section id="top-review<%=review.id%>">
        <p><%=review.title%> : <%=review.rating%></p>
        </section>
        <% end %>
      </section>
      <section id = "low-reviews">
        <h2>Lowest Reviews: </h2>
        <% Review.bottom_rated.each do |review| %>
        <section id="low-review<%=review.id%>">
          <p><%=review.title%> : <%=review.rating%></p>
      </section>
      <% end %>
    </section>
    <section id="span-3">
    <h2>All Reviews: </h2>
  </section>
    <section id= "all-reviews">
      <% @item.reviews.each do |review| %>
        <section id= "review-<%=review.id%>">
          <h2><%= review.title %></h2>
          <h3>Rating: <%= review.rating %></h3>
          <p><%= review.content %></p>
          <%= link_to 'Edit Review', "/items/#{@item.id}/#{review.id}/edit" %>
        </section>
    </section>
      <% end %>
</footer>
