<h1>Create New Review For <%= link_to @item.name, "items/#{@item.id}" %></h1>
<center>
  <%= form_tag "/items/#{@item.id}", method: :post do %>
    <%= text_field_tag :title, "Title" %>
    <%= text_field_tag :description, "description" %>
    <%= number_field_tag :rating, "Rating" %>
    <%= submit_tag 'Create Review' %>
  <% end %>

</center>
